<div fxFlexFill fxLayout="column" class="main__container">
  <header fxFlex="none">
    <app-header></app-header>
  </header>

  <main fxFlex>
    <router-outlet></router-outlet>
  </main>

  <footer fxFlex="none" style="background: grey">
    <app-footer></app-footer>
  </footer>
</div>


